@import 'normalize.scss';

$color-green: rgba(34,150,32,1);
$color-red: rgba(199,0,0,1);
$color-grey: rgba(85,85,85,1);
$color-blue: rgba(29,139,219,1);
$color-light-grey: rgba(246,246,246,1);

* {
    box-sizing: border-box;
}

html {
    margin-left: auto;
    margin-right: auto;
    font-family: "Open Sans", sans-serif;
}

.main-header {
    background: linear-gradient(180deg, #1D8BDB 0%, rgba(24, 139, 222, 0.68) 100%);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:0 0 1.5rem 0;
    * {
        color:$color-light-grey;
    }
}

body {
    margin:0;
}

h1 {
    padding: 16px 0 0 0;
    margin:0;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
}



.flex-row {
    display:flex;
    flex-direction:row;
}

.solde {
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    margin:0;
}

.solde-txt {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    margin:0;
}

.add-home_title,
.trans-title {
    padding-left: 1rem;
    background-color: white;
}

* {
    color: $color-grey;
}

.main-index {
    background-color: $color-light-grey;

}

.scroll {
    overflow: auto;
    max-height: calc(100vh - 243px);
    padding-bottom: 8rem;
}

.transaction {
    display:flex;
    align-items: center;
    margin:0;
    padding: 0.75rem 1rem;
    background-color: white;
    p {
        margin:0;
        &::first-letter{
            text-transform: capitalize;
        }
    }
    border-bottom: 1px solid $color-light-grey;
}

.trans-txt {
    width: 100%;
    padding-left: 0.5rem;
}

.trans-description {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}

.trans-category {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
}

.trans-amount {
    white-space: nowrap;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 32px;
}

.date {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    padding:0.75rem 0 0.75rem 1rem;
    background-color: $color-light-grey;
    margin:0;
}

.is-up {
    color: $color-green;
}

.add-trans {
    position: fixed;
    bottom: 5rem;
    left: 50%;
    transform: translateX(-50%);
    background: $color-blue;
    border-radius: 1rem;
    text-decoration: none;
    display: flex;
    padding: 0.5rem 1rem;
    align-items: center;
    box-shadow: none;
    border: none;
    white-space: nowrap;
    p {
        margin:0;
        padding-left: 1rem;
        color: $color-light-grey;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
    }
    margin-left: auto;
    margin-right: auto;
}

.main-nav {
    position: fixed;
    bottom:0;
    display:flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    box-shadow: 0px -4px 15px rgba(0, 0, 0, 0.1);
    background: $color-light-grey;

}

.nav-bloc {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav-txt {
    margin:0 0 1rem 0;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
}

.is-active {
    color: $color-blue;
}

.nav-icon {
    margin-top:0.7rem;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin: 0 1rem;
}

/* Hide default HTML checkbox */
.switch input {
opacity: 0;
width: 0;
height: 0;
}

/* The slider */
.slider {
width: 60px;
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: $color-red;
-webkit-transition: .4s;
transition: .4s;
}

.slider:before {
position: absolute;
content: "";
height: 26px;
width: 26px;
left: 4px;
bottom: 4px;
background-color: white;
-webkit-transition: .4s;
transition: .4s;
}

input:checked + .slider {
background-color: $color-green;
}

input:focus + .slider {
box-shadow: 0 0 1px $color-green;
}

input:checked + .slider:before {
-webkit-transform: translateX(26px);
-ms-transform: translateX(26px);
transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
border-radius: 34px;
}

.slider.round:before {
border-radius: 50%;
}

.input-type {
    display:flex;
    justify-content: flex-start;
    align-items: center;
}

.input-type-txt {
    font-style: normal;
    font-size: 18px;
    line-height: 32px;
    margin:0;
    text-align: center;
    padding: 0;
}

.red {
    color:$color-red;
}

.green {
    color:$color-green;
}

.is-bold {
    font-weight: bold;
}

.mandatory {
    display:flex;
}

.form-title {
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.5rem;
    margin-top:1rem;
    margin-bottom:1rem;
    padding:0;
}

.mandatory-markup {
    color:$color-red;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.5rem;
    margin-top:1rem;
    margin-bottom:1rem;
}

.entry-form {
    background: $color-light-grey;
    border: 0.5px solid #DADADA;
    box-sizing: border-box;
    height: 2.5rem;
    padding:0.5rem;
}

.trans-btn {
    display: flex;
    justify-content: space-between;
    margin-top:2rem;
}

.btn-invalidate {
    margin-left: 25%;
    margin-right: 0.5rem;
}

.id-bank-operation {
    display:none;
}

li {
    list-style-type: none;
}

.submit-btn {
    border-radius: 2rem;
    border:none;
    width: 56px;
    height: 56px;
    padding:0;
    cursor: pointer;
    margin-right:25%;
    margin-left:0.5rem;
}

.paidwith-ul {
    padding:0;
    margin:0;
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.paidwith-li {
    background-color: $color-light-grey;
    border: 0.5px solid #DADADA;
    margin:0.5rem 1rem 0 0;
    padding:0;
    display:flex;
    align-items: center;
    justify-content: center;
    input {display:none; }
    label {
        text-align: center;
        padding:0.5rem;
    }
}

.is-checked {
    background-color: $color-blue;
    label {
        color: $color-light-grey;
        font-weight: bold;
    }
    
}

li {
    padding-bottom:1rem;
}

form {
    padding-bottom: 2rem;
}


.no-trans {
    display:flex;
    justify-content: center;
    align-items: center;
}

.main-analysis {
    padding-left:1rem;
    padding-right:1rem;
    margin-bottom: 16rem;
}

.add {
    padding:0 1rem;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
a {
    text-decoration: none;
}
aside {
    display:none;
}

h2 {
    padding:1.5rem 0 1rem 0;
    margin:0;
}

.nav-add-icon{
    position: absolute;
    right: 15%;
}
.nav-bloc-icon{
    position:relative;
}

// GESTION DU RESPONSIVE

@media (max-width: 400px) {
    .xs {
      display: none;
    }
}


@media (min-width: 720px){
    .main-nav {
        display:none;
    }
    .m-flex {
        height:calc(100vh - 168px);
    }

    .canvas {
        height:calc((100vh - 510px)/2);
        width:100%;
        padding:0 1rem;
        margin-bottom: 4rem;
    }

    aside {
        display: block;
        width: calc(100% - 400px);
        max-width: 624px;
        border-left: solid $color-light-grey 0.1rem;
        border-right: solid $color-light-grey 0.1rem;
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .main-index {
        width: 400px;
        border-left: solid $color-light-grey 0.1rem;
    }
    .add-link
    {
        display:none;
    }
    .m-flex {
        display:flex;
        margin-left: auto;
        margin-right: auto;
        max-width: 1024px;
    }
    
    .add-home_form {
        padding:0 0 0 1rem;
    }
}

@media (min-width: 720px) and (max-width: 800px){
    
    .green {
        padding-right: 1rem;
    }
}
@media (max-width: 719px) {
    .desktop {
        display: none;
    }
    .canvas{
        height:40vh;
    }
        
}

.custom-box {
    border: 2px solid grey;
    text-align: center;
    padding: 10px;
    width: fit-content;
    background-color: white;
    margin: auto;
    button {
        margin:0 1rem;
        height: 2.5rem;
        border:none;
        box-sizing: border-box;
        color: $color-light-grey;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        background: $color-blue;
        border-radius: 1rem;
        text-decoration: none;
        padding: 0.5rem 1rem;
        box-shadow: none;
    }
    .btn-confirmer {
        background: $color-red;
    }
    .btn-annuler {
        background: #1D8BDB;
    }
 }
 
 #modal {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
 }

 .del-box-txt {
     line-height: 2rem;
 }

 .add-icon {
     position: fixed;
     bottom:1rem;
     transform: translateX(-50%);

 }

 .nav-bloc-icon {
     margin:0 1rem;
 }

.form-div {
    border-bottom:  0.5px solid #DADADA;
    padding-bottom: 0.5rem;
}


.tri-select {
    border:none;
    color:$color-blue;
    font-weight: bold;
}

.canvas {
    position: relative;
    width:100%;
    padding:0 1rem;
    margin-bottom: 4rem;
}

.chart-category-ul,
[class="0-legend"],
[class="1-legend"] {
    list-style: none;
    padding-left: 0;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding-top:1rem;
    margin:0;
    li {
        display: flex;
        padding: 0 5px;
        // text-align: center;
        justify-content: center;
        align-content: center;
        .chart-legend {
            width: 10px;
            height: 10px;
            margin-top:auto;
            margin-bottom:auto;
        }
        span {
            border-radius: 5px;
            display: inline-block;
            white-space: nowrap;
            // height: 10px;
            margin-right: 10px;
            }
        }
    li.hidden {
        text-decoration: line-through;
        }
}